<div class="containerX">
  <div class="container"  fxLayout="column" >
  <br />
  <h1 class="title" >
    <u [translate]='"privacyPolicy.title"'></u>
  </h1>
  </div>
  <div class="container"  fxLayout="column" >
  <br /><br />
  <div class="reading-1-container reading">
    <h2 class="reading-1-title" [translate]='"privacyPolicy.firstReadingTitle"' ></h2>
    <p class="reading-1-desc reading-1" [translate]='"privacyPolicy.firstReadingContent"'>
    </p>
  </div>
</div>
<div class="container"  fxLayout="column" >
  <div class="reading-2-container reading">
    <h2 class="reading-2-title" [translate]='"privacyPolicy.secondReadingTitle"'></h2>
    <ul class="reading-2-list">
      <li class="reading-2-item reading-2" [translate]='"privacyPolicy.secondReadingContent"'>
      </li>
      <li class="reading-2-item reading-2" [translate]='"privacyPolicy.secondReadingContentPartTwo"'>
      </li>
    </ul>
  </div>
</div>
<div class="container"  fxLayout="column" >
  <div class="reading-3-container reading">
    <h2 class="reading-3-title" [translate]='"privacyPolicy.thirdReadingTitle"'></h2>
    <div class="reading-3-list">
      <p class="reading-3-item reading-3" [translate]='"privacyPolicy.thirdReadingContent"'>
      </p>
      <p class="reading-3-item reading-3" [translate]='"privacyPolicy.thirdReadingContentPartTwo"'>
      </p>
    </div>
  </div>
</div>
<div class="container"  fxLayout="column" >
  <div class="reading-4-container reading">
    <h2 class="reading-4-title" [translate]='"privacyPolicy.fourthReadingTitle"'></h2>
    <div class="reading-4-list">
      <p class="reading-4-item reading-4" [translate]='"privacyPolicy.fourthReadingContent"'>
      </p>
      <p class="reading-4-item reading-4" [translate]='"privacyPolicy.fourthReadingContentPartTwo"'>
      </p>
    </div>
  </div>
</div>
<div class="container"  fxLayout="column" >
  <div class="reading-5-container reading">
    <h2 class="reading-5-title" [translate]='"privacyPolicy.fifthReadingTitle"'>
    </h2>
    <div class="reading-5-list">
      <p class="reading-5-item reading-5" [translate]='"privacyPolicy.fifthReadingContent"'>
      </p>
      <p class="reading-5-item reading-5" [translate]='"privacyPolicy.fifthReadingContentPartTwo"'>
      </p>
    </div>
  </div>
</div>
<div class="container"  fxLayout="column" >
  <div class="reading-6-container reading">
    <h2 class="reading-6-title" [translate]='"privacyPolicy.sixthReadingTitle"'></h2>
    <div class="reading-6-list">
      <p class="reading-6-item reading-6" [translate]='"privacyPolicy.sixthReadingContent"'>
      </p>
      <p class="reading-6-item reading-6" [translate]='"privacyPolicy.sixthReadingContentPartTwo"'>
      </p>
    </div>
  </div>
</div>
<div class="container"  fxLayout="column" >
  <div class="reading-7-container reading">
    <h2 class="reading-7-title" [translate]='"privacyPolicy.seventhReadingTitle"'></h2>
    <div class="reading-7-list">
      <p class="reading-7-item reading-7" [translate]='"privacyPolicy.seventhReadingContent"'>
      </p>
      <p class="reading-7-item reading-7" [translate]='"privacyPolicy.seventhReadingContentPartTwo"'>
      </p>
      <p class="reading-7-item reading-7" [translate]='"privacyPolicy.seventhReadingContentPartThree"'>
      </p>
    </div>
  </div>
</div>
<div class="container"  fxLayout="column" >
  <div class="reading-8-container reading">
    <h2 class="reading-8-title" [translate]='"privacyPolicy.eighthReadingTitle"'></h2>
    <div class="reading-8-list">
      <p class="reading-8-item reading-8" [translate]='"privacyPolicy.eighthReadingContent"'>

      </p>
    </div>
  </div>
</div>
<div class="container"  fxLayout="column" >
  <div class="reading-9-container reading">
    <h2 class="reading-9-title" [translate]='"privacyPolicy.ninthReadingTitle"'></h2>
    <div class="reading-9-list"[translate]='"privacyPolicy.ninthReadingContent"'>
    </div>
  </div>
</div>
<div class="container"  fxLayout="column" >
  <div class="reading-10-container reading">
    <h2 class="reading-10-title" [translate]='"privacyPolicy.tenthReadingTitle"'>
    </h2>
    <div class="reading-10-list">
      <p class="reading-10-item reading-10" [translate]='"privacyPolicy.tenthReadingContent"'>
      </p>
    </div>
  </div>
</div>
<div class="container"  fxLayout="column" >
  <div class="reading-11-container reading">
    <h2 class="reading-11-title" [translate]='"privacyPolicy.eleventhReadingTitle"'></h2>
    <div class="reading-11-list">
      <p class="reading-11-item reading11" [translate]='"privacyPolicy.eleventhReadingContent"'> 
      </p>
      <li [translate]='"privacyPolicy.eleventhReadingContentPartTwo"'></li>

      <li [translate]='"privacyPolicy.eleventhReadingContentPartThree"'></li>

      <li [translate]='"privacyPolicy.eleventhReadingContentPartFour"'></li>

      <li [translate]='"privacyPolicy.eleventhReadingContentPartFive"'></li>

      <p class="reading-11" [translate]='"privacyPolicy.eleventhReadingContentPartSix"'>
      </p>
    </div>
  </div>
</div>
<div class="container"  fxLayout="column" >
  <div class="reading-12-container reading">
    <h2 class="reading-12-title" [translate]='"privacyPolicy.twelfthReadingTitle"'></h2>
    <div class="reading-12-list">
      <p class="reading-12-item reading-12" [translate]='"privacyPolicy.twelfthReadingContent"'>
      </p>
      <li class="reading-12" [translate]='"privacyPolicy.twelfthReadingContentPartTwo"'>
      </li>

      <li class="reading-12" [translate]='"privacyPolicy.twelfthReadingContentPartThree"'>
      </li>

      <li class="reading-12" [translate]='"privacyPolicy.twelfthReadingContentPartFour"'>
      </li>

      <li class="reading-12" [translate]='"privacyPolicy.twelfthReadingContentPartFive"'>
      </li>

      <li class="reading-12" [translate]='"privacyPolicy.twelfthReadingContentPartSix"'>
      </li>
      <li class="reading-12" [translate]='"privacyPolicy.twelfthReadingContentPartSeven"'>
      </li>
      <li class="reading-12" [translate]='"privacyPolicy.twelfthReadingContentPartEight"'>
      </li>
      <li class="reading-12" [translate]='"privacyPolicy.twelfthReadingContentPartNine"'>
      </li>
    </div>
  </div>
</div>
<div class="container"  fxLayout="column" >
  <div class="reading-13-container reading">
    <h2 class="reading-13-title" [translate]='"privacyPolicy.thirteenthReadingTitle"'></h2>
    <p class="reading-13" [translate]='"privacyPolicy.thirteenthReadingContent"'>
    </p>
    <li class="reading-13" [translate]='"privacyPolicy.thirteenthReadingContentPartTwo"'></li>
    <li class="reading-13" [translate]='"privacyPolicy.thirteenthReadingContentPartThree"'></li>
    <p class="reading-13" [translate]='"privacyPolicy.thirteenthReadingContentPartFour"'>
    </p>
  </div>
</div>
</div>
<!-- <p>Pentru a primi informații despre datele dvs. personale, despre scopurile și părțile cărora le sunt comunicate datele, contactați proprietarul.</p>

<h1>Proprietar și controlor de date</h1>
<h3>Tipurile de date colectate</h3>


<p>Detalii complete privind fiecare tip de date cu caracter personal colectate sunt furnizate în secțiunile dedicate acestei politici de confidențialitate sau prin texte explicative specifice afișate înainte de colectarea datelor.
Datele personale pot fi furnizate gratuit de către Utilizator sau, în cazul Datelor de Utilizare, colectate automat atunci când se utilizează această aplicație.
Cu excepția cazului în care se prevede altfel, toate datele solicitate de această aplicație sunt obligatorii și nerealizarea acestor date poate face imposibilă ca această aplicație să furnizeze serviciile sale. În cazurile în care această aplicație specifică faptul că anumite date nu sunt obligatorii, utilizatorii sunt liberi să nu comunice aceste date fără consecințe asupra disponibilității sau funcționării Serviciului.
Utilizatorii care nu sunt siguri cu privire la datele personale obligatorii sunt bineveniți să contacteze proprietarul.
Orice utilizare a cookie-urilor sau a altor instrumente de urmărire de către această aplicație sau de către proprietarii serviciilor terță parte utilizate de această aplicație servește scopului furnizării serviciului solicitat de utilizator, pe lângă orice alte scopuri descrise în prezentul document și în Politica de cookie, dacă este disponibilă.

Utilizatorii sunt responsabili pentru toate datele personale ale terților care au fost obținute, publicate sau partajate prin intermediul acestei aplicații și confirmă că au acordul terțului de a furniza datele către proprietar.

Modul și locul de prelucrare a datelor
Metode de procesare
Proprietarul ia măsurile de securitate adecvate pentru a preveni accesul neautorizat, dezvăluirea, modificarea sau distrugerea neautorizată a datelor.
Prelucrarea datelor se efectuează cu ajutorul calculatoarelor și / sau a instrumentelor IT activate, în conformitate cu procedurile organizaționale și modurile strict legate de scopurile indicate. În plus față de proprietar, în anumite cazuri, datele pot fi accesibile anumitor tipuri de persoane responsabile, implicate în funcționarea acestei aplicații (administrație, vânzări, marketing, administrație juridică, sistem) sau părți externe (cum ar fi, furnizori de servicii tehnice, furnizori de servicii de găzduire, furnizori de servicii de găzduire, companii IT, agenții de comunicații) numiți, dacă este necesar, ca procesatori de date de către proprietar. Lista actualizată a acestor părți poate fi solicitată de la proprietar în orice moment.

Temeiul juridic al procesării
Proprietarul poate procesa date personale referitoare la utilizatori dacă se aplică una dintre următoarele:

Utilizatorii și-au dat acordul pentru unul sau mai multe scopuri specifice. Notă: În conformitate cu unele legislații, Proprietarului i se poate permite să proceseze date cu caracter personal până când utilizatorul se opune unei astfel de procesări ("opt-out"), fără a trebui să se bazeze pe consimțământ sau pe oricare dintre următoarele legi juridice. Cu toate acestea, acest lucru nu se aplică atunci când prelucrarea datelor cu caracter personal face obiectul legislației europene privind protecția datelor;
furnizarea datelor este necesară pentru îndeplinirea unui acord cu Utilizatorul și / sau pentru orice obligații precontractuale ale acestuia;
procesarea este necesară pentru respectarea unei obligații legale la care este supusă titularul;
prelucrarea este legată de o sarcină care se desfășoară în interes public sau în exercitarea autorității publice învestite cu titularul;
prelucrarea este necesară în scopul intereselor legitime urmărite de către proprietar sau de o terță parte.
În orice caz, Proprietarul va contribui cu ușurință la clarificarea temeiului juridic specific aplicabil procesării și în special dacă furnizarea datelor cu caracter personal este o cerință legală sau contractuală sau o cerință necesară pentru a încheia un contract.

Loc
Datele sunt prelucrate în birourile de operare ale Proprietarului și în orice alt loc unde sunt localizate părțile implicate în prelucrare.

În funcție de locația utilizatorului, transferurile de date pot implica transferarea datelor utilizatorului într-o altă țară decât cea proprie. Pentru a afla mai multe despre locul de procesare a acestor date transferate, utilizatorii pot verifica secțiunea care conține detalii despre prelucrarea datelor cu caracter personal.

Utilizatorii au, de asemenea, dreptul de a afla despre temeiul juridic al transferurilor de date către o țară din afara Uniunii Europene sau la orice organizație internațională guvernată de dreptul internațional public sau înființată de două sau mai multe țări, cum ar fi ONU, și despre măsurile de securitate luate de către proprietar pentru a-și proteja datele.

În cazul în care are loc un astfel de transfer, utilizatorii pot afla mai multe prin verificarea secțiunilor relevante din acest document sau prin contactarea proprietarului utilizând informațiile furnizate în secțiunea de contact.

Timp de retenție
Datele personale vor fi prelucrate și stocate atâta timp cât este necesar pentru scopul pentru care au fost colectate.

Prin urmare:

Datele personale colectate în scopuri legate de executarea unui contract între Proprietar și Utilizator vor fi păstrate până la încheierea integrală a acestui contract.
Datele personale colectate în scopul intereselor legitime ale Proprietarului vor fi păstrate atâta timp cât este necesar pentru îndeplinirea acestor scopuri. Utilizatorii pot găsi informații specifice cu privire la interesele legitime urmărite de către Proprietar în secțiunile relevante ale acestui document sau contactând Proprietarul.
Proprietarului i se permite să păstreze datele cu caracter personal pentru o perioadă mai lungă ori de câte ori utilizatorul a dat consimțământul pentru o astfel de prelucrare, atâta timp cât acest consimțământ nu este retras. În plus, Proprietarul poate fi obligat să păstreze datele cu caracter personal pentru o perioadă mai lungă ori de câte ori este necesar pentru a face acest lucru pentru îndeplinirea unei obligații legale sau la ordinul unei autorități.

După expirarea perioadei de păstrare, datele cu caracter personal vor fi șterse. Prin urmare, dreptul de acces, dreptul la ștergere, dreptul la rectificare și dreptul la portabilitatea datelor nu pot fi puse în aplicare după expirarea perioadei de păstrare.

Drepturile utilizatorilor
Utilizatorii pot exercita anumite drepturi cu privire la datele prelucrate de proprietar.

În particular, utilizatorii au dreptul să facă următoarele:

Retrageți consimțământul dvs. în orice moment. Utilizatorii au dreptul de a retrage consimțământul în cazul în care au dat anterior consimțământul lor pentru prelucrarea datelor lor personale.
Obiectul procesării datelor lor. Utilizatorii au dreptul de a se opune procesării datelor lor în cazul în care prelucrarea este efectuată pe un temei juridic diferit de consimțământ. Mai multe detalii sunt furnizate în secțiunea dedicată de mai jos.
Accesați datele acestora. Utilizatorii au dreptul să învețe dacă datele sunt procesate de proprietar, să obțină divulgarea anumitor aspecte ale prelucrării și să obțină o copie a datelor prelucrate.
Verificați și căutați rectificarea. Utilizatorii au dreptul să verifice corectitudinea datelor lor și să le solicite actualizarea sau corectarea acestora.
Restricționați prelucrarea datelor lor. Utilizatorii au dreptul, în anumite circumstanțe, de a restricționa prelucrarea datelor lor. În acest caz, Proprietarul nu va procesa datele lor în alt scop decît să le stocheze.
Datele personale au fost șterse sau eliminate altfel. Utilizatorii au dreptul, în anumite circumstanțe, de a obține ștergerea datelor lor de la proprietar.
Primiți datele și transferați-le unui alt controlor. Utilizatorii au dreptul să primească datele lor într-un format structurat, utilizat în mod obișnuit și lizibil în mașină și, dacă este fezabil din punct de vedere tehnic, să le transmită altui controlor fără nici o piedică. Această prevedere este aplicabilă cu condiția ca datele să fie prelucrate prin mijloace automatizate și ca prelucrarea să se bazeze pe consimțământul Utilizatorului, pe un contract pe care Utilizatorul face parte din obligațiile precontractuale ale acestuia sau pe baza acestora.
Depune o plângere. Utilizatorii au dreptul să depună o plângere în fața autorității lor competente pentru protecția datelor.
Detalii despre dreptul de a se opune prelucrării
În cazul în care datele cu caracter personal sunt prelucrate în interes public, în exercitarea unei autorități publice învestite cu titularul sau în scopul intereselor legitime urmărite de proprietar, utilizatorii pot să se opună unei astfel de procesări furnizând un motiv legat de situația lor particulară să justifice obiecția.

Utilizatorii trebuie să știe însă că, în cazul în care datele lor personale vor fi prelucrate în scopuri de marketing direct, aceștia pot face obiectul unei astfel de procesări în orice moment fără a oferi nici o justificare. Pentru a afla dacă proprietarul prelucrează date personale în scopuri de marketing direct, utilizatorii pot consulta secțiunile relevante ale acestui document.

Cum să exerciți aceste drepturi
Orice solicitare de a exercita drepturi de utilizator poate fi direcționată către proprietar prin intermediul datelor de contact furnizate în acest document. Aceste solicitări pot fi exercitate gratuit și vor fi adresate de către proprietar cât mai curând posibil și întotdeauna în termen de o lună.

Informații suplimentare despre colectarea și prelucrarea datelor
Acțiune legală
Datele personale ale utilizatorului pot fi utilizate în scopuri legale de către Proprietar în instanță sau în etapele care conduc la posibile acțiuni în justiție rezultate din utilizarea necorespunzătoare a acestei aplicații sau a Serviciilor aferente.
Utilizatorul declară că are cunoștință de faptul că proprietarului i se poate cere să dezvăluie date cu caracter personal la cererea autorităților publice.

Informații suplimentare despre datele personale ale utilizatorului
Pe lângă informațiile conținute în această politică de confidențialitate, această aplicație poate furniza utilizatorului informații suplimentare și contextuale privind anumite servicii sau colectarea și prelucrarea datelor cu caracter personal la cerere.

Logare sistem și întreținere
Pentru scopuri de operare și întreținere, această aplicație și orice servicii ale unor terțe părți pot colecta fișiere care înregistrează interacțiunea cu această aplicație (jurnale de sistem) utilizează alte date personale (cum ar fi adresa IP) în acest scop.

Informații care nu sunt cuprinse în această politică
Mai multe detalii privind colectarea sau prelucrarea datelor cu caracter personal pot fi solicitate.</p>
<h1>Definiții și referințe juridice</h1>

<p>Date personale (sau date)
Orice informație care, direct sau indirect, sau în legătură cu alte informații - inclusiv un număr de identificare personal - permite identificarea sau identificarea unei persoane fizice.

Datele de utilizare
Informațiile colectate automat prin intermediul acestei aplicații (sau al serviciilor terță parte utilizate în această aplicație), care pot include: adresele IP sau numele de domeniu ale computerelor utilizate de Utilizatorii care utilizează această aplicație, adresele URI (Uniform Resource Identifier) ora solicitării, metoda utilizată pentru trimiterea solicitării către server, mărimea fișierului primit ca răspuns, codul numeric care indică starea răspunsului serverului (rezultat reușit, eroare etc.), țara de origine, caracteristicile browserului și ale sistemului de operare utilizat de Utilizator, detaliile diferitelor perioade ale vizitelor (de exemplu, timpul petrecut pe fiecare pagină în cadrul aplicației) și detaliile despre calea urmată în cadrul aplicației, cu referire specială la secvența paginile vizitate și alți parametri despre sistemul de operare al dispozitivului și / sau mediul IT al utilizatorului.

Utilizator
Persoana fizică care utilizează această aplicație care, dacă nu se specifică altfel, coincide cu subiectul datelor.

Subiectul datelor
Persoana fizică la care se referă datele cu caracter personal.

Procesor de date (sau Supervizor date)
Persoana fizică sau juridică, autoritatea publică, agenția sau alt organism care prelucrează date cu caracter personal în numele controlorului, așa cum este descris în această politică de confidențialitate.

Controlor de date (sau deținător)
Persoana fizică sau juridică, autoritatea publică, agenția sau alt organism care, singur sau împreună cu alții, determină scopurile și mijloacele de prelucrare a datelor cu caracter personal, inclusiv măsurile de securitate privind funcționarea și utilizarea acestei aplicații. Controlorul de date, dacă nu este specificat altfel, este proprietarul acestei aplicații.

Aceasta aplicație
Modalitățile prin care sunt colectate și prelucrate datele personale ale utilizatorului.

Serviciu
Serviciul oferit de această aplicație, așa cum este descris în termenii relativi (dacă este disponibil) și pe acest site / aplicație.

Uniunea Europeană (sau UE)
Cu excepția cazului în care se specifică altfel, toate trimiterile făcute în cadrul acestui document către Uniunea Europeană includ toate statele membre actuale la Uniunea Europeană și Spațiul Economic European.

Informații legale
Această declarație de confidențialitate a fost elaborată pe baza prevederilor mai multor legislații, inclusiv art. 13/14 din Regulamentul (UE) 2016/679 (Regulamentul general privind protecția datelor).

Această politică de confidențialitate se referă numai la această aplicație, dacă nu este stipulat altfel în acest document.</p> -->
