<div class="container" layout="row">
<footer class="footer fixed-bottom">
    <span class="f-ph" [translate]='"footer.message"'></span> &nbsp;&nbsp;&nbsp;

    <span class="allRightsReserved" [translate]='"footer.artist"'></span>&nbsp;&nbsp;&nbsp;
    <a class="p-policy" routerLink="/politica-de-confidentialitate" [translate]='"footer.privacyPolicyButton"'></a> &nbsp;&nbsp;&nbsp;
   <span class="love" [translate]='"footer.insideMessage"'></span>&nbsp;&nbsp;&nbsp;
        <a class="admin-login" routerLink="logare-admin"  [translate]='"footer.adminLoginButton"'></a>&nbsp;&nbsp;&nbsp;
</footer>  
</div>