

<div class="containerX"  fxLayout="column" style="margin:0;padding:0;">
 <div class="container" fxLayout="column" id="color"  style="margin:0;padding:0;"
 ngStyle.xs = "'top':'8%';'right':'0%';'left':'0%';"
ngStyle.sm = "'top':'8%';'left':'7.3%';"
ngStyle.md = "'left':'6.5%';"
>
   <div class="container" fxLayout="column" >
  <h3 class="title" [translate]='"forgotPassword.title"'
  ngStyle.xs = "'top':'4%';'font-size':'39px';'left':'22%';"
  ngStyle.sm = "'top':'4%';'font-size':'39px';'left':'22.5%';"
  ngStyle.md = "'top':'4%';'font-size':'39px';'left':'37%';"
  ngStyle.lg = "'top':'6%';'font-size':'41px';'left':'10%';'right':'10%';"
  ngStyle.xl = "'top':'6%';'font-size':'41px';'left':'10%';'right':'10%';"
  ></h3>
  <p class="text-center message" [translate]='"forgotPassword.message"'
  ngStyle.xs = "'top':'15%';'font-size':'23.5px';'left':'22%';"
  ngStyle.sm = "'top':'12%';'font-size':'23.5px';'left':'23%';"
  ngStyle.md = "'top':'17%';'font-size':'23.5px';'left':'23%';"
  ngStyle.lg = "'top':'17%';'font-size':'25px';'left':'10%';"
  ngStyle.xl = "'top':'17%';'font-size':'25px';'left':'10%';"
  ></p>
   </div>
   <div class="container" fxLayout="column" >
  <input type="email" class="formControl email" placeholder='{{"forgotPassword.placeholderInput" | translate }}' #passwordResetEmail required
  ngStyle.xs = "'width':'55%';'top':'22%';'font-size':'16px';'height':'6%';'left':'22.5%';"
  ngStyle.sm = "'width':'55%';'top':'19%';'font-size':'23.5px';'left':'23.5%';'height':'6.5%';"
  ngStyle.md = "'width':'55%';'top':'26%';'font-size':'23.5px';'left':'23.5%';'height':'6.5%';"
  ngStyle.lg = "'width':'55%';'top':'26%';'font-size':'23.5px';'left':'10%';'height':'6.5%';"
  ngStyle.md = "'width':'55%';'top':'28%';'font-size':'23.5px';'left':'23.5%';'height':'6.5%';"
  ngStyle.xl = "'width':'55%';'top':'28%';'font-size':'23.5px';'left':'10%';'height':'6.5%';"



  >
  </div>
  <!-- Calling ForgotPassword from AuthService Api -->
  <div class="container" fxLayout="column" >
  <button type="submit" class="btn btn-outline-secondary reset" [translate]='"forgotPassword.buttonReset"' (click)="authService.ForgotPassword(passwordResetEmail.value)"
  ngStyle.xs = "'width':'55%';'top':'33%';'font-size':'19px';'height':'6%';'left':'22.5%';"
  ngStyle.sm = "'width':'55%';'text-align':'center';'top':'32%';'font-size':'23.5px';'left':'23.5%'"
  ngStyle.md = "'width':'55%';'text-align':'center';'top':'40%';'font-size':'23.5px';'left':'23.5%'"
  ngStyle.lg = "'width':'55%';'text-align':'center';'top':'42%';'font-size':'23.5px';'left':'10%'"
  ngStyle.xl = "'width':'55%';'text-align':'center';'top':'42%';'font-size':'23.5px';'left':'10%'"



  ></button>
  </div>
  
  <div class="container" fxLayout="column" >
<span class="btn btn-outline-secondary redirect" routerLink="/logare-admin" [translate]='"forgotPassword.loginButton"'
ngStyle.xs = "'width':'55%';'top':'43%';'font-size':'19px';'height':'6%';'left':'22.5%';"
ngStyle.sm = "'width':'55%';'text-align':'center';'top':'43%';'font-size':'23.5px';'left':'23.5%'"
ngStyle.md = "'width':'55%';'text-align':'center';'top':'53%';'font-size':'23.5px';'left':'23.5%'"
ngStyle.lg = "'width':'55%';'text-align':'center';'top':'55%';'font-size':'23.5px';'left':'10%'"
ngStyle.xl = "'width':'55%';'text-align':'center';'top':'55%';'font-size':'23.5px';'left':'10%'"


></span>
  </div>
  </div>
  </div>